<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="certificate" class="com.epam.esm.bean.Certificate" scope="prototype"/>

    <bean id="tag" class="com.epam.esm.bean.Tag" scope="prototype"/>

    <bean id = "dataSource"
          class = "com.zaxxer.hikari.HikariDataSource">
        <property name = "driverClassName" value = "org.postgresql.Driver"/>
        <property name = "jdbcUrl" value = "jdbc:postgresql://localhost:5432/postgres"/>
        <property name = "username" value = "postgres"/>
        <property name = "password" value = "molotok5074344"/>
    </bean>
</beans>